*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.header img {
    width: 150px;
    height: auto;
    margin: 1%;
}
nav {
    display: flex;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
}
.navlinks ul li {
    list-style: none;
    display: inline-block;    
    padding: 8px 12px;
    position: relative;
}
.navlinks ul li a {
    color: white;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: lighter;
    text-decoration: none;
}
.body{
    text-align: center;
}
.text {
    color: white;
}
.container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
}
@keyframes animate{
    0%, 100%{
        background-image: url(./CRSL1.jpeg);
    }
    33% {
        background-image: url(./CRSL2.jpeg);
    }
    67%{
        background-image: url(./CRSL3.jpeg);
    }
}
